DirectoryIndex index.php
Options -Indexes

RewriteEngine on

# Force usage of HTTPS
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}

# Append PHP extension to URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Disable image download
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?lazarjelic.com [NC] 
RewriteRule \.(gif|jpg|png)$ - [F]

# Disable caching
<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
